@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: url(image1.jpeg) no-repeat center center/cover;
    color: white;
    font-family: "Lato", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .container{
    background-color: white;
    width: 500px;
    min-height: 400px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
} */

.form{
    display: flex;
    width: 400px;
    height: 100px;
    flex-wrap: wrap;
    font-size: 1.2rem;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 20px;
    margin-bottom: 15px;
}

.label{
    flex: 100%;
    padding-bottom: 15px;
    font-weight: 500;
}

.input{
    flex: 50%;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
}

.btn{
    border-radius: 10px;
    padding: 10px;
    margin: 0 5px;
    color: green;
    cursor: pointer;
    transition: .3s;
}

.btn:hover{
    background-color: green;
    color: white;
}

.task{
    display: flex;
    width: 400px;
    height: auto;
    background-color: white;
    color: black;
    border-radius: 20px;
    font-size: 1.3rem;
    padding: 10px;
    margin-bottom: 10px;
}

.task li{
    list-style: none;
    flex: 4;
    font-size: 1.2rem;
    padding: 10px;
}

.task .check-btn{
    flex: 1;
    border-radius: 10px;
    margin-right: 10px;
    color: orange;
    border: 2px solid orange;
}

.task .delete-btn{
    flex: 1;
    border-radius: 10px;
    color: red;
    border: 2px solid red;
    font-size: 1rem;
}

.task .check-btn:hover{
    background-color: orange;
    color: white;
}

.task .delete-btn:hover{
    background-color: red;
    color: white;
}